import * as s from './{{kebabCase name}}.styles';

export type {{pascalCase name}}Props = any;

const {{pascalCase name}} = () => (
  <s.Wrapper>
    <h1>{{kebabCase name}}</h1>
  </s.Wrapper>
);

export { {{pascalCase name}} };
